.Categories-Container {
    background-color: #FFF;
    width: 80vw;
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Categories-Container::-webkit-scrollbar {
    display: none;
}