.Content-Container{
    background-color: #FFF;
    width: 80vw;
    min-height:300vh;
    font-size: calc(10px + 2vmin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    overflow: hidden;
}