.Content-Container{
    background-color: rgb(58, 58, 17);
    width: 80vw;
    min-height:300vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}